body, html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #adadad;
}

.mainContent{
    padding: 0px;

}
.contentBox{
    height: calc(100% - 52px);
}

.navBarBox{
    width: 100%;
}

.navbar{
    margin-bottom: 0px;
}

.deviceListBox{
    border: 2px solid ;
    height: 100%;
    padding:0px;

}
a{
    text-decoration-line:none !important;
}


.deviceToCompareBox{
    border: 2px solid ;
    height: 100%;


}

.deviceSelected{
    height: 70%;
    background-color: #adadad;


}
.vsText{
    text-align: center;
    margin-top: 20%;
}
.deviceBox{
    margin-top:10%;
    height: 70%;
}

.panel-heading{
    border: 0px !important;
    background-color: transparent !important;
}
.panelDeviceBox{
    height:100%;
}
.panelDevice{
    text-align: center;
    height: 80%;
}

.panelDevice > a{
    border: 0px !important;
    height: 100% !important;
    margin: 0px !important;
}
.deviceImg{
    height: 100% !important;
}
.panelFooterDevice{
    height:calc(20% - 20px);
    text-align: center;
    font-size: 1.5em;
    border: 0px;
    background-color: white;
}

.briefInfo{
    height: 20%;
    background-color: aquamarine;
}

.action{
    height: 10%;
    background-color: #23527c;
}